<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.winphone.mapper.DeviceTypeExtAttrMapper" >
  <resultMap id="BaseResultMap" type="com.winphone.entity.DeviceTypeExtAttr" >
    <id column="device_type_ext_attr_id_" property="deviceTypeExtAttrId" jdbcType="CHAR" />
    <result column="device_type_id_" property="deviceTypeId" jdbcType="CHAR" />
    <result column="show_name_" property="showName" jdbcType="VARCHAR" />
    <result column="field_name_" property="fieldName" jdbcType="VARCHAR" />
    <result column="create_user_" property="createUser" jdbcType="CHAR" />
    <result column="create_time_" property="createTime" jdbcType="VARCHAR" />
    <result column="update_user_" property="updateUser" jdbcType="CHAR" />
    <result column="update_time_" property="updateTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    device_type_ext_attr_id_, device_type_id_, show_name_, field_name_, create_user_, 
    create_time_, update_user_, update_time_
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from dm_device_type_ext_attr_
    where device_type_ext_attr_id_ = #{deviceTypeExtAttrId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from dm_device_type_ext_attr_
    where device_type_ext_attr_id_ = #{deviceTypeExtAttrId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.winphone.entity.DeviceTypeExtAttr" >
    insert into dm_device_type_ext_attr_ (device_type_ext_attr_id_, device_type_id_, show_name_, 
      field_name_, create_user_, create_time_, 
      update_user_, update_time_)
    values (#{deviceTypeExtAttrId,jdbcType=CHAR}, #{deviceTypeId,jdbcType=CHAR}, #{showName,jdbcType=VARCHAR}, 
      #{fieldName,jdbcType=VARCHAR}, #{createUser,jdbcType=CHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{updateUser,jdbcType=CHAR}, #{updateTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.winphone.entity.DeviceTypeExtAttr" >
    insert into dm_device_type_ext_attr_
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deviceTypeExtAttrId != null" >
        device_type_ext_attr_id_,
      </if>
      <if test="deviceTypeId != null" >
        device_type_id_,
      </if>
      <if test="showName != null" >
        show_name_,
      </if>
      <if test="fieldName != null" >
        field_name_,
      </if>
      <if test="createUser != null" >
        create_user_,
      </if>
      <if test="createTime != null" >
        create_time_,
      </if>
      <if test="updateUser != null" >
        update_user_,
      </if>
      <if test="updateTime != null" >
        update_time_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deviceTypeExtAttrId != null" >
        #{deviceTypeExtAttrId,jdbcType=CHAR},
      </if>
      <if test="deviceTypeId != null" >
        #{deviceTypeId,jdbcType=CHAR},
      </if>
      <if test="showName != null" >
        #{showName,jdbcType=VARCHAR},
      </if>
      <if test="fieldName != null" >
        #{fieldName,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.winphone.entity.DeviceTypeExtAttr" >
    update dm_device_type_ext_attr_
    <set >
      <if test="deviceTypeId != null" >
        device_type_id_ = #{deviceTypeId,jdbcType=CHAR},
      </if>
      <if test="showName != null" >
        show_name_ = #{showName,jdbcType=VARCHAR},
      </if>
      <if test="fieldName != null" >
        field_name_ = #{fieldName,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user_ = #{createUser,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time_ = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        update_user_ = #{updateUser,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        update_time_ = #{updateTime,jdbcType=VARCHAR},
      </if>
    </set>
    where device_type_ext_attr_id_ = #{deviceTypeExtAttrId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.winphone.entity.DeviceTypeExtAttr" >
    update dm_device_type_ext_attr_
    set device_type_id_ = #{deviceTypeId,jdbcType=CHAR},
      show_name_ = #{showName,jdbcType=VARCHAR},
      field_name_ = #{fieldName,jdbcType=VARCHAR},
      create_user_ = #{createUser,jdbcType=CHAR},
      create_time_ = #{createTime,jdbcType=VARCHAR},
      update_user_ = #{updateUser,jdbcType=CHAR},
      update_time_ = #{updateTime,jdbcType=VARCHAR}
    where device_type_ext_attr_id_ = #{deviceTypeExtAttrId,jdbcType=CHAR}
  </update>
  <select id="listPageDeviceTypeExtAttr" parameterType="com.winphone.entity.DeviceTypeExtAttr" resultMap="BaseResultMap">
  	select *
    from dm_device_type_ext_attr_ 
    where 1=1
      <if test="fieldName != null and fieldName != ''" >
        and field_name_ = #{fieldName,jdbcType=CHAR}
      </if>
      <if test="showName != null and showName != ''" >
        and show_name_ = #{showName,jdbcType=CHAR}
      </if>
      <if test="deviceTypeId != null and deviceTypeId != ''" >
        and device_type_id_ = #{deviceTypeId,jdbcType=CHAR}
      </if>
  </select>
  <select id="listDeviceTypeExtAttrs" parameterType="com.winphone.entity.DeviceTypeExtAttr" resultMap="BaseResultMap">
  	select *
    from dm_device_type_ext_attr_
    where 1=1
      <if test="fieldName != null and fieldName != ''" >
        and field_name_ = #{fieldName,jdbcType=CHAR}
      </if>
      <if test="showName != null and showName != ''" >
        and show_name_ = #{showName,jdbcType=CHAR}
      </if>
      <if test="deviceTypeId != null and deviceTypeId != ''" >
        and device_type_id_ = #{deviceTypeId,jdbcType=CHAR}
      </if>
  </select>
</mapper>