<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.winphone.mapper.MonitorVideoMapper" >
  <resultMap id="BaseResultMap" type="com.winphone.entity.MonitorVideo" >
    <id column="monitor_video_id_" property="monitorVideoId" jdbcType="CHAR" />
    <result column="device_id_" property="deviceId" jdbcType="CHAR" />
    <result column="monitor_video_address_" property="monitorVideoAddress" jdbcType="VARCHAR" />
    <result column="video_start_time_" property="videoStartTime" jdbcType="VARCHAR" />
    <result column="video_time_long_" property="videoTimeLong" jdbcType="VARCHAR" />
    <result column="video_size_" property="videoSize" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    monitor_video_id_, device_id_, monitor_video_address_, video_start_time_, video_time_long_, 
    video_size_
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from dm_monitor_video_
    where monitor_video_id_ = #{monitorVideoId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from dm_monitor_video_
    where monitor_video_id_ = #{monitorVideoId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.winphone.entity.MonitorVideo" >
    insert into dm_monitor_video_ (monitor_video_id_, device_id_, monitor_video_address_, 
      video_start_time_, video_time_long_, video_size_
      )
    values (#{monitorVideoId,jdbcType=CHAR}, #{deviceId,jdbcType=CHAR}, #{monitorVideoAddress,jdbcType=VARCHAR}, 
      #{videoStartTime,jdbcType=VARCHAR}, #{videoTimeLong,jdbcType=VARCHAR}, #{videoSize,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.winphone.entity.MonitorVideo" >
    insert into dm_monitor_video_
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="monitorVideoId != null" >
        monitor_video_id_,
      </if>
      <if test="deviceId != null" >
        device_id_,
      </if>
      <if test="monitorVideoAddress != null" >
        monitor_video_address_,
      </if>
      <if test="videoStartTime != null" >
        video_start_time_,
      </if>
      <if test="videoTimeLong != null" >
        video_time_long_,
      </if>
      <if test="videoSize != null" >
        video_size_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="monitorVideoId != null" >
        #{monitorVideoId,jdbcType=CHAR},
      </if>
      <if test="deviceId != null" >
        #{deviceId,jdbcType=CHAR},
      </if>
      <if test="monitorVideoAddress != null" >
        #{monitorVideoAddress,jdbcType=VARCHAR},
      </if>
      <if test="videoStartTime != null" >
        #{videoStartTime,jdbcType=VARCHAR},
      </if>
      <if test="videoTimeLong != null" >
        #{videoTimeLong,jdbcType=VARCHAR},
      </if>
      <if test="videoSize != null" >
        #{videoSize,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.winphone.entity.MonitorVideo" >
    update dm_monitor_video_
    <set >
      <if test="deviceId != null" >
        device_id_ = #{deviceId,jdbcType=CHAR},
      </if>
      <if test="monitorVideoAddress != null" >
        monitor_video_address_ = #{monitorVideoAddress,jdbcType=VARCHAR},
      </if>
      <if test="videoStartTime != null" >
        video_start_time_ = #{videoStartTime,jdbcType=VARCHAR},
      </if>
      <if test="videoTimeLong != null" >
        video_time_long_ = #{videoTimeLong,jdbcType=VARCHAR},
      </if>
      <if test="videoSize != null" >
        video_size_ = #{videoSize,jdbcType=VARCHAR},
      </if>
    </set>
    where monitor_video_id_ = #{monitorVideoId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.winphone.entity.MonitorVideo" >
    update dm_monitor_video_
    set device_id_ = #{deviceId,jdbcType=CHAR},
      monitor_video_address_ = #{monitorVideoAddress,jdbcType=VARCHAR},
      video_start_time_ = #{videoStartTime,jdbcType=VARCHAR},
      video_time_long_ = #{videoTimeLong,jdbcType=VARCHAR},
      video_size_ = #{videoSize,jdbcType=VARCHAR}
    where monitor_video_id_ = #{monitorVideoId,jdbcType=CHAR}
  </update>
  
  <select id="listPageMonitorVideo" parameterType="com.winphone.entity.MonitorVideo" resultMap="BaseResultMap">
  	select *
    from dm_monitor_video_ 
    where 1=1
      <if test="deviceId != null and deviceId != ''" >
        and device_id_ = #{deviceId,jdbcType=CHAR}
      </if>
  </select>
  <select id="listMonitorVideos" parameterType="com.winphone.entity.MonitorVideo" resultMap="BaseResultMap">
  	select *
    from dm_monitor_video_
    where 1=1
      <if test="deviceId != null and deviceId != ''" >
        and device_id_ = #{deviceId,jdbcType=CHAR}
      </if>
  </select>
</mapper>